//Nesting é quando você coloca um seletor dentro de outro
//O código abaixo substitui os comandos ul {} | ul li {} | ul a{}
//É uma boa prática usar apenas três camadas de indentação
//O caracte especial & adiciona o elemento anterior ao seletor
//Você consegue criar nesting de propriedades de estilo

ul{
    padding: 0;
    text-align: center;
    list-style: none;

    li{
        display: inline-block;
    }

    a{
        display: block;
        padding: 20px;
        text-decoration: none;
        color: #fff;
        background: #00f;

        &:hover{
            background-color: #05F;
            transition: 0.5s;
        }

        font: {
            family: sans-serif;
            size: 1.8em;
            weight: 900;
            style: italic;
        }
    }
}