//Você pode usar operadores de soma "+", subtração "-", multiplicação "*" e divisão "/"

$cor: #333 * 4;

h1{
    font-size: 16px + 10;
    color: $cor;
}

h2{
    font-size: 16px + 6;
}

h3{
    font-size: 16px + 2;
}